@import '../../../style/import.scss';

.badge {
  position: relative;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;

  // 没有包裹内容
  &--not-wrapper {
    .badge__text {
      position: relative;
      top: auto;
      display: block;
      transform: none!important;
    }
  }

  &__text {
    position: absolute;
    top: -($badge-size-base-md / 2);
    transform: translateX(-50%);
    min-width: $badge-size-base-md;
    line-height: $badge-size-base-md;
    background: $badge-fill-base;
    color: $badge-color-text-base;
    text-align: center;
    padding: 0 6px;
    font-size: $badge-font-size-base;
    white-space: nowrap;
    border-radius: $badge-size-base-md / 2;
    font-family: $font-family-num;
    transform-origin: -10% center;
  }

  &__dot {
    position: absolute;
    transform: translateX(-50%);
    top: -($badge-size-base-sm/2);
    z-index: 10;
    height: $badge-size-base-sm;
    width: $badge-size-base-sm;
    border-radius: 100%;
    background: $badge-fill-base;
    box-shadow: 0 0 0 $border-width-sm $badge-shadow-color; /*no*/
    transform-origin: 0 center;
  }

  // 运动
  &--zoom-appear,
  &--zoom-enter {
    animation: zoomBadgeIn .3s cubic-bezier(.12,.4,.29,1.46);
    animation-fill-mode: both;
  }

  &--zoom-leave {
    animation: zoomBadgeOut .3s cubic-bezier(.71,-.46,.88,.6);
    animation-fill-mode: both;
  }
}

@keyframes zoomBadgeIn {
  0% {
      opacity: 0;
      transform: scale(0) translateX(-50%)
  }

  to {
      transform: scale(1) translateX(-50%)
  }
}


@keyframes zoomBadgeOut {
  0% {
      transform: scale(1) translateX(-50%)
  }

  to {
      opacity: 0;
      transform: scale(0) translateX(-50%)
  }
}