@import '../../../style/import';

.accordion {
      
  &__item {
    position: relative;
    background-color: #ffffff;
    border-bottom: 1px solid #e6e6e6;

    &--active {
       .accordion__header__icon {
          &:after { 
            transform: rotate(-45deg);
          }
       }
    }

    &--disabled {
      .accordion__title,
      .accordion__header__icon,
      .accordion__body {
        opacity: 0.5;
      }
    }
  }

  &__header {
    display: flex;
    justify-content: center;
    height: px2rem(88px);
    line-height: px2rem(88px);
    padding: 0 px2rem(30px);
    background-color: #fff;
    cursor: pointer;

    &:active {
      background-color: rgba(0, 0, 0, 0.015);
    }

    &__icon {
      display: inline-block;
      width: px2rem(32px);
      position: relative;

      &:after {
        content: " ";
        display: inline-block;
        height: px2rem(20px);
        width: px2rem(20px);
        position: absolute;
        top: 50%;
        right: px2rem(8px);
        margin-top: px2rem(-10px);
        border-width: 2px 2px 0 0;
        border-color: #C8C8CD;
        border-style: solid;
        transform:rotate(135deg);   
        transform-origin: center;
        transition: transform 0.3s;
      }
    }
  }

  &__title {
    flex: 1;
    font-size: px2rem(30px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__body {
    background-color: #fff;
    
    &--active {}

    &--inactive {}
  }
}