@import '../../../style/import';

.accordion {
      
  &__item {
    position: relative;
    background-color: $fill-base;
    border-bottom: $border-width-sm solid $border-color-base; /*no*/

    &--active {
       .accordion__header__icon {
          &:after { 
            transform: rotate(-45deg);
          }
       }
    }

    &--disabled {
      .accordion__title,
      .accordion__header__icon,
      .accordion__body {
        opacity: 0.5;
      }
    }
  }

  &__header {
    display: flex;
    justify-content: center;
    height: $accordion-height;
    line-height: $accordion-height;
    padding: 0 15px;
    background-color: $fill-base;
    cursor: pointer;

    &:active {
      background-color: rgba(0, 0, 0, 0.015);
    }

    &__icon {
      display: inline-block;
      width: 16px;
      position: relative;
      @include encoded-svg-background('left');

      &:after {
        content: " ";
        display: inline-block;
        height: 10px;
        width: 10px;
        position: absolute;
        top: 50%;
        right: 4px;
        margin-top: -5px;
        border-width: $border-width-lg $border-width-lg 0 0; /*no*/
        border-color: #C8C8CD;
        border-style: solid;
        transform:rotate(135deg);   
        transform-origin: center;
        transition: transform 0.3s;
      }
    }
  }

  &__title {
    flex: 1;
    font-size: px2rem(30px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__body {
    background-color: #fff;
    
    &--active {}
    &--inactive {}
  }
}