@import '../../../style/import';

.my-link {
  font-size: $font-size-base;
}

.my-button {
  margin: 0 10px;
  border: 0;
  height: 34px;
  line-height: 34px;
  padding: 0 10px;
  border-radius: $radius-sm;
  font-size: $font-size-base;

  &[disabled] {
    opacity: 0.5;
  }
}
button.my-button {
  
  color: $color-text-base-inverse;
  background-color: $brand-primary;
}
