@import '../../../style/import';

.my-accordion {
  .accordion__item {
    border-bottom: none;
    margin-bottom: 15px;

    &--active {
      .text__content {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .accordion__header {    
    height: 70px;
    line-height: 70px;
    padding-left: 25px;
  }

  .text__content {
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity .3s, transform .3s;
  }
}