@import '../../../style/import';

.flexbox__example {
  .flexbox__item {
    margin: 5px;
    width: 100%;
  }

  .inline {
    width: 93px !important;
    margin: 5px;

    &--small {
      height: 18px !important;
      line-height: 18px !important;
    }

    &--space-no {
      margin: 5px 0 5px;
    }
  }
}