@import '../../../style/import';

.tabs {
  overflow: hidden;

  &__bar {
    position: relative;
    display: flex;

    &__container {
      width: 100%;
      background-color: $fill-base;
      
      &:before,
      &:after {
        pointer-events: none;
        position: absolute;
        top: 0;
        display: block;
        width: 30px;
        height: 100%;
        content: "";
        z-index: 999;
      }
      &:before {
        left: 0;
        background: linear-gradient(90deg, $fill-base, rgba(255, 255, 255, 0));
      }
      &:after {
          right: 0;
          background: linear-gradient(90deg, rgba(255, 255, 255, 0), $fill-base);
      }
    }

    &__swipe {
      position: relative;
      left: 0;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      transform: translate3d(0px, 0px, 0px);
      transition: transform 0.3s;
    }

    &__nav {
      flex: 1;
      width: 100%;
      display: flex;

      .tabs__tab {
        display: flex;
        flex: 0 0 25%;
        justify-content: center;
      }
    }
  }
  
  // 高亮项目
  &__ink__bar {
    position: absolute;
    bottom: 0;
    height: $border-width-lg;
    background-color: $brand-primary;

    // 运动模式
    &--animated {
      transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    }
  }

  &__tab {
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    flex: 1;
    align-items: center;
    border-bottom: $border-width-sm solid $border-color-base; /*no*/
    font-size: $font-size-subhead ;
    height: $tab-height;
    line-height: $tab-height;
    background-color: $fill-base;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

    // 不可用
    &--disabled {
      cursor: default;
      color: $color-text-disabled;
    }
    
    // 选中
    &--active {
      color: $brand-primary;
    }
  }

  // pane content
  &__content {
    // 运动
    &--animated {
      display: flex;
      transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
      zoom: 1;
      width: 100%;
      height: 100%;
      touch-action: pan-y;
      user-select: none;
      -webkit-user-drag: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

      .tab__pane {
        flex-shrink: 0;
        width: 100%;
        will-change: transform;
      }
    }

    // 没有运动
    &--no--animated {

      .tab__pane {
        &--inactive {
          display: none;
        }
      }
    }    
  }

  .tab__pane {
    overflow: auto;

    &--inactive {
      height: 0;
      overflow: visible;
    }
  }
}