@import '../../../style/import';

.tabs {
  overflow: hidden;

  &__handle {
    position: relative;
    display: flex;
  }
  
  // 高亮项目
  &__ink__bar {
    position: absolute;
    bottom: 0;
    height: px2rem(4px);
    background-color: $primary-color;

    // 运动模式
    &--animated {
      transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    }
  }

  &__tab {
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    flex: 1;
    align-items: center;
    border-bottom: 1px solid #ddd;
    font-size: px2rem(30px);
    height: px2rem(88px);
    line-height: px2rem(88px);
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

    // 不可用
    &--disabled {
      cursor: default;
      color: #ccc;
    }
    
    // 选中
    &--active {
      color: $primary-color;
    }
  }

  // pane content
  &__content {
    // 运动
    &--animated {
      display: flex;
      transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
      zoom: 1;
      width: 100%;
      height: 100%;
      touch-action: pan-y;
      user-select: none;
      -webkit-user-drag: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

      .tab__pane {
        flex-shrink: 0;
        width: 100%;
        will-change: transform;
      }
    }

    // 没有运动
    &--no--animated {

      .tab__pane {
        &--inactive {
          display: none;
        }
      }
    }    
  }

  .tab__pane {
    overflow: auto;

    &--inactive {
      height: 0;
      overflow: visible;
    }
  }
}