@import '../../../style/import';

.navbar {
  display: flex;
  align-items: center;
  height: $navbar-height;
  line-height: $navbar-height;
  background-color: $navbar-fill-dark;
  color: $navbar-color-text-base-inverse;

  // 浅色模式 
  &--light {
    background-color: $navbar-fill;
    color: $navbar-color-text-base;

    .navbar__title {
      color: $navbar-color-text-base;
    }
  }

  // 自适应宽度
  &--auto {
    .navbar {
      &__left,
      &__right {
        width: auto;
      }
    }
    

    .navbar__left {
      &__content {
        margin-right: 10px;
      }
    }

    .navbar__right {
      margin-left: 10px;
    }

    .navbar__title {
      text-align: left;
      justify-content: flex-start;

      &__content {
        text-align: left;
      }
    }
  }

  &__left,
  &__right {
    height: 100%;
    display: flex;
    align-items: center;
    width: 30%;
    font-size: $font-size-base;
  }

  &__left {
    padding-left: 15px;
    justify-content: flex-start;

    span {
      vertical-align: middle;
    }

    &__icon {
      margin-right: 5px;
      display: inherit;
    }

    &__content {
      @include ellipsis();
    }
  }

  &__right {
    padding-right: 15px;
    justify-content: flex-end;
    overflow: hidden;

    > .icon,
    > span, {
      flex: none;
    }
  }

  &__title {
    flex: 1;
    min-width: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
      min-width: 0;
      height: 100%;
      line-height: inherit;
      font-size: $font-size-heading;
      text-align: center;
      @include ellipsis();
    }
  }

  &__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
  }
}