@import '../../../style/import';

.divider {
  margin: 0;
  border: none;
  box-sizing: content-box;
  overflow: visible;
  height: 1px; /*no*/
  background-color: $border-color-base;

  &--inset {
    margin-left: $divider-spacing-md;
  }
  
  &--shallow-inset {
    margin-left: $divider-spacing-sm;
  }
  
  &--deep-inset {
    margin-left: $divider-spacing-lg;
  }
}