@import '../../../style/import';

.tabbar {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;

  &__list {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    height: $tab-bar-height;
    border-top: $border-width-sm solid $border-color-base; /*no*/
    background-color: $tab-bar-fill;
    transition: bottom .2s;
    
    // 隐藏
    &--hidden {
      bottom: -$tab-bar-height;
    }

    &__item {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      cursor: pointer;

      &__badge,
      &__dot {
        .badge {
          &__text,
          &__dot {
            left: 25px;
            margin-top: 8px;
          }
          &__dot {
            margin-top: 3px;
          }
        }
      }

      &__title {
        font-size: $font-size-icontext;
        margin: 3px 0 0;
        line-height: $line-height-base;
      }
    }
  }

  &__contents {
    display: flex;

    &--no-animated {
      .tabbar__content {
        &--inactive {
          display: none;
        }
      }
    }
  }

  &__content {
    flex: 1;
    width: 100%;
    flex-shrink: 0;

    &--inactive {
      height: 0;
      overflow: visible;
    }

    &--active {
      height: auto;
    }
  }
}