@import '../../../style/import';

.page__not__found section {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  transform: translate(-50%, -50%);

  h1 {
    color: #2db7f5;
    font-size: 65px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  p {
    color: #666;
    font-size: 16px;
    line-height: $line-height-paragraph;
  }

}
