
.page__not__found section {
  position: absolute;
  top: 48%;
  left: 55%;
  margin: -103px 0 0 -120px;
  text-align: center;

  h1 {
    color: #2db7f5;
    font-size: 65px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  p {
    color: #666;
    font-size: 16px
  }

}
