@import '../../../style/import';

.search-bar {
  display: flex;
  align-items: center;
  height: $search-bar-height;
  line-height: $search-bar-height;
  color: $color-text-base-inverse;
  background-color: $search-bar-fill-dark;
  padding-left: 15px;
  padding-right: 15px;

  // 浅色模式 
  &--light {
    color: $color-text-base;
    background-color: $search-bar-fill;

    .search-bar {
      &__form,
      &__input {
        color: #666;
      }
    }
  }

  &__left,
  &__right {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: $search-bar-font-size;
  }

  &__left {
    padding-right: 15px;
    justify-content: flex-start;

    span {
      vertical-align: middle;
    }

    &__icon {
      margin-right: 5px;
      display: inherit;
    }

    &__content {
      @include ellipsis();
    }
  }

  &__right {
    padding-left: 15px;
    justify-content: flex-end;
    overflow: hidden;

    > .icon,
    > span, {
      flex: none;
    }
  }

  &__form {
    flex: 1;
    min-width: 0;
    height: 75%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 5px;
    background-color: rgba(0, 0, 0, 0.045);
  }

  &__input {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    border: none;
    height: inherit;
    line-height: 1.5;
    flex: 1;
    min-width: 0;
    padding: 0 5px;
    color: #fff;
    font-size: $font-size-base;

    &__front,
    &__back {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 5px;
    }

    &__front {
      opacity: 0.8;
    }
  }

  &__reset {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    cursor: pointer;
    position: relative;
  }

}